.flow-floating-window {
  position: absolute;
  background-color: var(--background-color-A);
  border: var(--border-color-1px-solid-B);
  border-radius: var(--fjm-border-radius);
  z-index: var(--fjm-z-index);
  min-width: 300px;
  min-height: 200px;
  color: var(--text-color-B);
  font-family: var(--fjm-font-family);
  resize: both;
  overflow: hidden;
}

.flow-window-header {
  cursor: move;
  padding: 5px 10px;
  background-color: var(--background-color-B);
  color: var(--text-color-B);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  height: 30px;
}

.flow-close-button {
  cursor: var(--fjm-button-cursor);
  font-size: 20px;
  line-height: 20px;
}

.flow-resize-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
  background: linear-gradient(135deg, transparent 70%, var(--fjm-border-color) 70%);
}

.flow-window-content {
  padding: 10px;
}
